html,
body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    text-transform: bold;
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar {
    position: fixed;
    background-color: #579CDD;
    top: 0;
    width: 275px;
    height: 100%;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* z-index: 99997; */
}

.sidebar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.avatar{
    width: 150px;
}

.user-name{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 10px 0 ;
}

.navlist {
    margin: 0;
    padding: 0;
    width: 100%;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar li {
    line-height: 80px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
    font-weight: 400px;
    display: block;
    border-left: 3px solid transparent;
    transition: all 0.2s ease-in-out;
}

.sidebar a:hover {
    color: #579CDD;
    background: #ffffffe8;
    border-left-color: red;
    box-shadow: 0 5px 10px rgba(149, 31, 31, 0.651);
    transition: all 0.2s ease-in-out;
}

.btn-dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-angle-down{
    margin-right: 25px;
    transition: all 0.3s ease-in-out;
}

.sidebar ul .dropdown.showSubMenu .fa-angle-down{
    transform: rotate(-180deg);
}

.sidebar ul .dropdown .sub-menu {
    padding: 6px 6px 14px 35px;
    background: #7493b0;
    white-space: nowrap;
    display: none;
}

.sidebar ul .dropdown.showSubMenu .sub-menu {
    display: block;
}

.sidebar ul .dropdown .sub-menu li{ 
    line-height: 60px;
}

.sidebar ul .dropdown .sub-menu a {
    color: rgba(255, 255, 255, 0.782);
    font-size: 18px;
}

.sidebar ul .dropdown .sub-menu a:hover {
    color: white;
    background: #7493b0;
    border-left-color: #7493b0;
    box-shadow: none;
}

.btn_logout {
    border-radius: 5px;
    padding: 16px 36px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #579CDD;
    transition: all 0.35s ease-in-out;
    margin: 30px 0;
}