html,
body {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    text-transform: bold;
}

.sidebar {
    position: fixed;
    background-color: #579CDD;
    top: 0;
    width: 300px;
    height: 100%;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* z-index: 99997; */
}

.sidebar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.avatar{
    width: 150px;
}

.user-name{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px 0 ;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar li {
    line-height: 80px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
    font-weight: 400px;
    display: block;
    border-left: 3px solid transparent;
}

.sidebar a:hover {
    color: #579CDD;
    background: #ffffffdc;
    border-left-color: #579CDD;
    box-shadow: 0 5px 10px rgba(156, 175, 156, 0.651);
}

.btn_logout {
    border-radius: 5px;
    padding: 16px 36px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #D57F66;
    color: white;
    transition: all 0.35s ease-in-out;
    margin: 30px 0;
}

.btn_logout:hover {
    background-color: white;
    color: #97c83e;
    transition: all 0.35s ease-in-out;
}