.content-table{
    border-collapse: collapse;
    font-size: 0.9em;
    width: 100%;
    margin: 25px 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #579CDD;
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table th:last-of-type,
.content-table td:last-of-type {
    padding: 12px 0;
    text-align: center;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #579CDD;
}

.button {
    border: none;
    outline: none;
    width: 75px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.fix {
    background-color: #579CDD;
}

.delete {
    background-color: red;
}

.list{
    background-color: #ffba42;
    width: 100px;
}